
html {
    font-size: 100%;
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin:0px;
    padding: 0px;
    background-color: #fefefe;
  }

  /* Nav*/

  nav{
      z-index: 200;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fefefe;
    height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 5px 10px -1px rgba(151, 151, 151, 0.452);
    -moz-box-shadow: 0 5px 10px -1px rgba(151, 151, 151, 0.452);
         box-shadow: 0 5px 10px -1px rgba(151, 151, 151, 0.452);
}

.brand-container {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

nav ul {
    display:flex;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  text-decoration: none;
  margin: 0rem 1rem;
  color:black;
}

   /* Nav end*/

.top-container {
  display:flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 5rem;


}

@media screen and (max-width: 1100px) {
    .top-container {
        flex-direction: column;
    }
}

.text-container {
  width: 30%;
  background-color: ;
 display:flex;
 flex-direction: column;
 align-items: left;
 margin-top: 100px;
 margin-left: 200px;
 background-color: ;

}

.text-container h1 {
    font-size: 2.25rem;
}

.text-container p{
  color: gray;

  }

  .email-input {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color:rgb(204, 204, 204);
      -webkit-box-shadow: 0 0 20px rgb(218, 218, 218);
      box-shadow: 0 0 20px rgb(218, 218, 218);
      margin: 1rem 0rem;

  }

  .submit-button {
      background-color: rgb(63, 39, 201);
      border: none;
      width: 150px;
      height: 40px;
      padding: 10px;
      border-radius: 5px;
      color:rgb(223, 223, 223);
      -webkit-box-shadow: 0 0 20px rgb(218, 218, 218);
      box-shadow: 0 0 20px rgb(218, 218, 218);
  }

.video-container {
  width: 50%;

  background-color: ;
}


/* left*/



/* right*/

    .circle_1 {
        height: 250px;
        width: 250px;
        background-image: linear-gradient(to right, rgb(107, 97, 97) , yellow);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: -250px;
        top: 50px;
        z-index: -2;
        -webkit-box-shadow: 0 0 20px rgb(218, 218, 218);
        box-shadow: 0 0 20px rgb(218, 218, 218);


    }
    .circle_2 {
        height: 250px;
        width: 250px;
        background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(26, 205, 211));
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: -300px;
        top:300px;
        z-index: -2;

    }


    #triangle-left {
        width: 0;
        height: 0;
        border-top: 300px solid transparent;
        border-right: 600px solid rgb(63, 39, 201);
        border-bottom: 300px solid transparent;
        display: inline-block;
        position: absolute;
        left:50%;
        top:65px;
        z-index: -1;
    }

    .video {
        position: absolute;
        top: 200px;
        left: 55%;


    }

    @media screen and (max-width: 1100px) {
        .top-container {
            flex-direction: column;
        }

        .video {
            position: absolute;
            top: 800px;
            width: 100%;
            left: auto;
            display: flex;
            justify-content: center;
            background-color: ;

        }

        #triangle-left {
            width: 0;
            height: 0;
            border-top: 300px solid transparent;
            border-right: 600px solid rgb(63, 39, 201);
            border-bottom: 300px solid transparent;
            display: inline-block;
            position: relative;
            left:25%;
            top:-250px;
            z-index: -1;
        }

        .circle_2 {
            height: 250px;
            width: 250px;
            background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(26, 205, 211));
            border-radius: 50%;
            display: inline-block;
            position: relative;
            right: -350px;
            top:300px;
            z-index: -2;

        }

        .video-container {
            width: 50%;
            margin-top: 3rem;
            background-color: ;
          }

          .text-container {
            width: 100%;
            background-color: ;
           display:flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-left: 0px;
           margin-right: 0px;
           padding: 25px;
           background-color: ;

          }

    }



    /* platforms*/

    .platform-container {
        background-color: ;
        margin: 15rem;
    }

    .platform-container span {
        color: rgba(128, 128, 128, 0.664);
        font-weight: 700;
        letter-spacing: 1px;
    }

    .platform-image-container {
        background-color: ;
        display: flex;
        justify-content: center;
    }

    .platform-container img {
        margin: 1rem 2rem;
        width: 150px;
    }

    /* projects*/

    .project-container {
        background-color: rgb(26, 34, 49);
        border-radius: 5px;
        height: 250px;
        width: 80%;
        margin-left: auto;


    }

    .project-container img {
        margin-left: 5rem;
        margin-top: -25px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 20px rgba(17, 17, 17, 0.137);
        box-shadow: 0 0 20px rgba(85, 84, 84, 0.205);

    }

    .project-button-container {
        margin: 5rem 0rem;
        background-color: ;
        display: flex;
        justify-content: center;

    }

    .project-button-container button {
        margin: 1rem 1rem 0rem 1rem ;
        background-color: transparent;
        border: solid 1px rgb(63, 39, 201);
        color: rgb(63, 39, 201);
        width: 150px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 20px rgb(218, 218, 218);
        box-shadow: 0 0 20px rgb(218, 218, 218);
    }



    .project-text-container {
        background-color: green;

    }

    .projects-text {
        color: rgb(224, 220, 220);
        writing-mode: vertical-lr;
        position: absolute;
        height: 250px;
        background-color: ;
        margin-top: 40px;
        padding: 10px;

    }


    /* team avatars*/

    .team-container {
        background-color: gray;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(white, rgb(247, 244, 244));

    }

    .team-container h1 {
        font-size: 3rem;;
        font-weight: 100;
        color: rgb(48, 48, 48);
        letter-spacing: 10px;
    }

    .avatar-container {
        background-color: ;
        width: 100%;
        height: 350px;
        display: flex;

        flex-direction: column;

    }

    .shadow {
        -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
        box-shadow: 0 0 20px rgb(146, 146, 146);
    }

    .avatar-1 {
        width: 100px;
        height: 100px;
        margin-left: 30%;
        margin-top:100px;
        border-radius: 50%;
        border: solid 3px red;
    }

    .avatar-2 {
        width: 100px;
        height: 100px;
        margin-left: 50%;
        margin-top:10px;
        border-radius: 50%;
        border: solid 3px green;
    }

    .avatar-3 {
        width: 75px;
        height: 75px;
        margin-left: 70%;
        margin-top:-250px;
        border-radius: 50%;
        border: solid 3px orange;
    }

    .avatar-4 {
        width: 100px;
        height: 100px;
        margin-left: 80%;
        margin-top:-250px;
        border-radius: 50%;
        border: solid 3px rgb(110, 57, 131);
    }

    .avatar-5 {
        width: 125px;
        height: 125px;
        margin-left: 20%;
        margin-top:150px;
        border-radius: 50%;
        border: solid 3px rgb(0, 110, 255);
    }

    .avatar-6 {
        width: 75px;
        height: 75px;
        margin-left: 40%;
        margin-top:100px;
        border-radius: 50%;
        border: solid 3px yellow;
    }

    .avatar-7 {
        width: 75px;
        height: 75px;
        margin-left: 70%;
        margin-top:-250px;
        border-radius: 50%;
        border: solid 3px orange;
    }


    /*bottom */

    .bottom-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom-container h1 {
        font-size: 3rem;
        color:rgb(54, 54, 54);
    }

    .content-bottom {

        display: flex;
    }

    .content-bottom ul {
        list-style: none;

    }
    .content-bottom ul li{
        margin: 10px 10px;
        margin-right: 50px;
        padding: 5px;
        color: rgb(156, 156, 156);
        font-weight: 700

    }

    .bottom-container img {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        z-index: 100;
        border-radius: 5px;
    }

    #active {
        color: black;
    }

    #active span {
        color: green;
    }

    .bottom-button {
        background-color: rgb(26, 34, 49);
        width: 100%;
        height: 1000px;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom-button h2{
        color: rgb(224, 220, 220);
        letter-spacing: 1px;
    }

    .bottom-button h2{
        color: rgb(224, 220, 220);
        letter-spacing: 1px;
    }

    .bottom-button  button{
        background-color: rgb(63, 39, 201);
        border: none;
        height: 40px;
        width: 150px;
        padding:10px;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    }
